kind: CatalogSource
metadata:
  name: entando-catalog
  namespace: {{ namespaces }}
spec:
  displayName: Entando Catalog pre
  image: {{ image }}
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 5m
