#!/bin/bash
CA_KEY_SIZE="4096"
C="CA"
ST="Cagliari"
O="eng-entando.com"
OU="ENG"
CN="ENG CA"
CERT_KEY_SIZE="2048"
C_C="SA"
C_ST="Cagliari"
C_O="eng-entando.com"
C_OU="CA"
C_CN="{{ appname }}.apps.{{ openshift_url }}"
CA_CRT_FILE="ca.crt"
CA_KEY_FILE="ca.key"
CERT_KEY_FILE="$C_CN.key"
CERT_CSR_FILE="$C_CN.csr"
CERT_FILE="$C_CN.crt"


DURATION="7300"
CERT_DURATION="3650"

openssl genrsa -out $CA_KEY_FILE $CA_KEY_SIZE
openssl req -x509 -new -nodes -key $CA_KEY_FILE -subj "/C=$C/ST=$ST/O=$O/OU=$OU/CN=$CN" -sha512 -days $DURATION -out $CA_CRT_FILE
openssl genrsa -out $CERT_KEY_FILE $CERT_KEY_SIZE
openssl req -new -sha256 -nodes -out $CERT_CSR_FILE -key $CERT_KEY_FILE -config \
<(printf "\n[req]\ndefault_bits = 2048\nprompt = no\ndefault_md = sha256\n\
req_extensions = req_ext\ndistinguished_name = dn\n[ dn ]\n\
C=$C_C\nST=$C_ST\nO=$C_O\nOU=$C_OU\nCN=$C_CN\n\n[ req_ext ]\nsubjectAltName = @alt_names\n\
[ alt_names ]\nDNS.1 = $C_SAN1\nDNS.2 = $C_SAN2")
openssl x509 -req -in $CERT_CSR_FILE -CA $CA_CRT_FILE -CAkey $CA_KEY_FILE -CAcreateserial -out $CERT_FILE -days $CERT_DURATION -sha512
