---
apiVersion: entando.org/v1
kind: EntandoDatabaseService
metadata:
  namespace: {{ namespace }}
  name: {{ appname }}-database-service
spec:
  provisioningStrategy: UseExternal
  port: 1521
  dbms: none
  host: 20.113.34.11
  databaseName: automation
  providedCapabilityScope: Namespace
  secretName: oracle-secret
