---
#apiVersion: entando.org/v1
#kind: EntandoDatabaseService
#metadata:
#  namespace: {{ namespace }}
#  name: {{ appname }}-database-service
#spec:
#  provisioningStrategy: UseExternal
#  port: 5432
#  dbms: postgresql
#  host: 20.113.34.11
#  databaseName: automation
#  providedCapabilityScope: Namespace
#  secretName: postgres-secret