---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
 name: {{ appname }}
 standardServerImage: {{ appused }}
replicas: 1
spec:
  dbms: postgresql
  tlsSecretName: entando-tls-secret
  environmentVariables: []
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}