kind: ConfigMap
apiVersion: v1
metadata:
  name: entando-operator-config
  namespace: {{namespace}}
data:
 # entando.assume.external.https.provider: 'false'
 # entando.ca.secret.name: entando-ca-cert-secret
  entando.use.auto.cert.generation: 'true'
