apiVersion: entando.org/v1
kind: EntandoApp
metadata:
  name: {{ namespace }}
  namespace: {{ namespace }}
spec:
  environmentVariables: []
  dbms: {{ dbms }}
  name: {{ appname }}
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}
  tlsSecretName: entando-tls-secret
  entandoAppVersion: '7.0'
  standardServerimage: eap
  replicas: 1
