---
apiVersion: entando.org/v1
kind: EntandoDatabaseService
metadata:
  namespace: {{ namespace }}
  name: {{ appname }}-database-service
spec:
  provisioningStrategy: UseExternal
  port: 32528
  dbms: mysql
  host: 20.79.239.35
  providedCapabilityScope: Namespace
  secretName: mysql-secret
---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
 name: {{ appname }}
replicas: 1
standardServerImage: {{ appused }}
spec:
  dbms: {{ dbms }}
#  entandoAppVersion: "7.0"
  environmentVariables:
  - name: PORTDB_URL
    value: "jdbc:mysql://20.79.239.35:32528/automationportuser"
  - name: PORTDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: mysql-secret
       optional: false
  - name: PORTDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: mysql-secret
       optional: false
  - name: PORTDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLValidConnectionChecker
  - name: PORTDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLExceptionSorter
  - name: SERVDB_URL
    value: "jdbc:mysql://20.79.239.35:32528/automationservuser"
  - name: SERVDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: mysql-secret
       optional: false
  - name: SERVDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: mysql-secret
       optional: false
  - name: SERVDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLValidConnectionChecker
  - name: SERVDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLExceptionSorter
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://20.79.239.35:32528/automationdeuser"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: mysql-secret
       optional: false
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: mysql-secret
       optional: false
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}