---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mysql8
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
kind: Deployment
apiVersion: apps/v1
metadata:
  annotations:
  name: entando-mysql-rocky
spec:
  replicas: 1
  selector:
    matchLabels:
      app: entando-mysql-rocky
  template:
    metadata:
      labels:
        app: entando-mysql-rocky
        deploymentconfig: entando-mysql-rocky
    spec:
      volumes:
        - name: mysql8
          persistentVolumeClaim:
            claimName: mysql8
      containers:
        - resources: {}
          name: entando-mysql-rocky
          image: docker.io/entando/entando-mysql-rocky:8.0.28
          ports:
            - containerPort: 3306
              protocol: TCP
            - containerPort: 33060
              protocol: TCP
            - containerPort: 33061
              protocol: TCP
          volumeMounts:
            - name: mysql8
              mountPath: /var/lib/mysql/data
          envFrom:
            - secretRef:
                name: mysql-cred
      securityContext: {}
      schedulerName: default-scheduler

---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
  name: {{ appname }}
  namespace: {{ namespace }}
spec:
  dbms: mysql
  entandoAppVersion: "7.0"
  environmentVariables:
	-
  	name: PORTDB_URL
	-
  	name: PORTDB_USERNAME
  	value: "jdbc:mysql://entando-mysql-rocky.{{ namespace }}.svc.cluster.local:3306/PORTuser"
  	valueFrom:
    	secretKeyRef:
      	key: username
      	name: mysql-cred
      	optional: false
	-
  	name: PORTDB_PASSWORD
  	valueFrom:
    	secretKeyRef:
      	key: password
      	name: mysql-cred
      	optional: false
	-
  	name: PORTDB_CONNECTION_CHECKER
  	value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLValidConnectionChecker
	-
  	name: PORTDB_EXCEPTION_SORTER
  	value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLExceptionSorter
	-
  	name: SERVDB_URL
  	value: "jdbc:mysql://entando-mysql-rocky.{{ namespace }}.svc.cluster.local:3306/SERVuser"
	-
  	name: SERVDB_USERNAME
  	valueFrom:
    	secretKeyRef:
      	key: username
      	name: mysql-cred
      	optional: false
	-
  	name: SERVDB_PASSWORD
  	valueFrom:
    	secretKeyRef:
      	key: password
      	name: mysql-cred
      	optional: false
	-
  	name: SERVDB_CONNECTION_CHECKER
  	value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLValidConnectionChecker
	-
  	name: SERVDB_EXCEPTION_SORTER
  	value: org.jboss.jca.adapters.jdbc.extensions.mysql.MySQLExceptionSorter
	-
  	name: SPRING_DATASOURCE_URL
  	value: "jdbc:mysql://entando-mysql-rocky.{{ namespace }}.svc.cluster.local:3306/DEuser"
	-
  	name: SPRING_DATASOURCE_USERNAME
  	valueFrom:
    	secretKeyRef:
      	key: username
      	name: mysql-cred
      	optional: false
	-
  	name: SPRING_DATASOURCE_PASSWORD
  	valueFrom:
    	secretKeyRef:
      	key: password
      	name: mysql-cred
      	optional: false
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}
  replicas: 1
  standardServerImage: eap