apiVersion: entando.org/v1
kind: EntandoApp
metadata:
  name: {{ namespaces }}
  namespace: {{ namespaces }}
spec:
  environmentVariables: []
  dbms: postgresql
  name: {{ appname }}
  ingressHostName: {{ appname }}.{{ cluster }}
