---
apiVersion: entando.org/v1
kind: EntandoDatabaseService
metadata:
  namespace: {{ namespace }}
  name: {{ appname }}-database-service
spec:
  provisioningStrategy: UseExternal
  port: 32528
  dbms: mysql
  host: 20.79.239.35
  providedCapabilityScope: Namespace
  secretName: mysql-secret
---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
 name: {{ appname }}
replicas: 1
standardServerImage: {{ appused }}
spec:
  dbms: {{ dbms }}
#  entandoAppVersion: "7.0"
  environmentVariables[]
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}
  