apiVersion: entando.org/v1
kind: EntandoApp
metadata:
  name: {{ namespace }}
  namespace: {{ namespace }}
spec:
  environmentVariables: []
  dbms: {{ dbms }}
  name: {{ appname }}
  standardServerimage: {{ appused }}
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}
