---
apiVersion: entando.org/v1
kind: EntandoDatabaseService
metadata:
  namespace: {{ namespace }}
  name: {{ appname }}-database-service
spec:
  provisioningStrategy: UseExternal
  port: 32227
  dbms: postgresql
  host: 20.79.239.35
  databaseName: automation
  providedCapabilityScope: Namespace
  secretName: postgres-secret
---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
 name: {{ appname }}
 standardServerImage: {{ appused }}
replicas: 1
spec:
  dbms: {{ dbms }}
  environmentVariables:
  - name: PORTDB_URL
    value: "jdbc:postgresql://20.79.239.35:32227/automationport"
  - name: PORTDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-portdb-{{ dbmode }}
       optional: false
  - name: PORTDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-portdb-{{ dbmode }}
       optional: false
  - name: PORTDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLValidConnectionChecker
  - name: PORTDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLExceptionSorter
  - name: SERVDB_URL
    value: "jdbc:postgresql://20.79.239.35:32227/automationserv"
  - name: SERVDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-servdb-{{ dbmode }}
       optional: false
  - name: SERVDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-servdb-{{ dbmode }}
       optional: false
  - name: SERVDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLValidConnectionChecker
  - name: SERVDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLExceptionSorter
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://20.79.239.35:32227/automationecr"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-dedb-{{ dbmode }}
       optional: false
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-dedb-{{ dbmode }}
       optional: false
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}