#!/bin/bash
#  Author
#  Sergio Molino
#
#  This script install Entando application on EKS
#
namespace=$1
appname=$2

if [[ -z "$namespace" ]]; then
        echo "Use "$(basename "$0")" NAMESPACE";
        exit 1;
fi
if [[ -z "$appname" ]]; then
        echo "Use "$(basename "$0")" APPNAME";
        exit 1;
fi

echo ""
echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Creating Namespace $namespace"
echo ""
echo "##################################################################################"
echo "##################################################################################"
kubectl create namespace $namespace


echo ""
echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Applying Config Map"
echo ""
echo "##################################################################################"
echo "##################################################################################"

#echo -e "
#kind: ConfigMap
#apiVersion: v1
#metadata:
#  name: entando-operator-config
#  namespace: $namespace
#data:
#  entando.requires.filesystem.group.override: 'true'
#  entando.ingress.class: 'traefik'" | kubectl apply -f -

echo ""
echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Creating Cluster Resources"
echo ""
echo "##################################################################################"
echo "##################################################################################"

sudo kubectl apply -f https://raw.githubusercontent.com/entando/entando-releases/v7.0.2/dist/ge-1-1-6/namespace-scoped-deployment/cluster-resources.yaml

sudo kubectl apply -n entando -f https://raw.githubusercontent.com/entando/entando-releases/v7.0.2/dist/ge-1-1-6/namespace-scoped-deployment/namespace-resources.yaml

echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Creating Namespace Resources & secret for external keycloak"
echo ""
echo "##################################################################################"
echo "##################################################################################"

kubectl create secret generic keycloak-admin-secret --from-literal username=admin --from-literal password=Anp7JH9hgT4BOQ== --from-literal url=http://automation-external-keycloak-keycloak1511.apps.mainline.eng-entando.com/auth -n $namespace

echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Configure external keycloak"
echo ""
echo "##################################################################################"
echo "##################################################################################"

echo -e "
apiVersion: entando.org/v1
kind: EntandoKeycloakServer
metadata:
  name: external-keycloak
  namespace: $namespace
spec:
  environmentVariables: []
  provisioningStrategy: UseExternal
  adminSecretName: keycloak-admin-secret
  frontEndUrl: >-
    http://automation-external-keycloak-keycloak1511.apps.mainline.eng-entando.com/auth" | kubectl apply -f -

echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Deploying Applicaton $appname"
echo ""
echo "##################################################################################"
echo "##################################################################################"
sleep 10
kubectl get svc -A | grep LoadBalancer | awk '{print $5}' | while read HOST;do
echo -e "
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
  namespace: $namespace
  name: $appname
spec:
  environmentVariables:
    - name: SPRING_PROFILES_ACTIVE
      value: "default,swagger"
  entandoAppVersion: '7.0'
  dbms: embedded
  ingressHostName: k3s.k3sautomation.eng-entando.com
  standardServerImage: eap
  replicas: 1" | kubectl apply -f -; done
echo ""
echo "##################################################################################"
echo "##################################################################################"
echo ""
echo "Namespace $namespace is created and $appname application is deploying"
echo "Wait around 10 minutes, when application is deployed it is available at:"
echo ""
kubectl get svc -A | grep LoadBalancer | awk '{print $5}' |while read HOST;do
echo "http://k3s.k3sautomation.eng-entando.com/app-builder/";done
echo ""
echo "##################################################################################"
echo "##################################################################################"
