apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: entando-catalog
  namespace: {{ namespace }}
spec:
  displayName: Entando Catalog pre
  image: registry.hub.docker.com/entandobuilduser/{{ image }}
  sourceType: grpc
  updateStrategy:
    registryPoll:
      interval: 5m
