---
apiVersion: entando.org/v1
kind: EntandoApp
metadata:
 name: {{ appname }}
 standardServerImage: {{ appused }}
replicas: 1
spec:
  dbms: {{ dbms }}
  tlsSecretName: entando-tls-secret
  environmentVariables:
  - name: PORTDB_URL
    value: "jdbc:postgresql://20.113.34.11:5432/automationport"
  - name: PORTDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-portdb-{{ dbmode }}
       optional: false
  - name: PORTDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-portdb-{{ dbmode }}
       optional: false
  - name: PORTDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLValidConnectionChecker
  - name: PORTDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLExceptionSorter
  - name: SERVDB_URL
    value: "jdbc:postgresql://20.113.34.11:5432/automationserv"
  - name: SERVDB_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-servdb-{{ dbmode }}
       optional: false
  - name: SERVDB_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-servdb-{{ dbmode }}
       optional: false
  - name: SERVDB_CONNECTION_CHECKER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLValidConnectionChecker
  - name: SERVDB_EXCEPTION_SORTER
    value: org.jboss.jca.adapters.jdbc.extensions.postgresql.PostgreSQLExceptionSorter
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:postgresql://20.113.34.11:5432/automationecr"
  - name: SPRING_DATASOURCE_USERNAME
    valueFrom:
      secretKeyRef:
       key: username
       name: {{ appname }}-dedb-{{ dbmode }}
       optional: false
  - name: SPRING_DATASOURCE_PASSWORD
    valueFrom:
      secretKeyRef:
       key: password
       name: {{ appname }}-dedb-{{ dbmode }}
       optional: false
  ingressHostName: {{ appname }}.apps.{{ openshift_url }}