#!/bin/bash
KEYCLOAK_HOST=http://{{ HOST }}
ADMIN_USER_NEW_PASSWORD=adminadmin
ACCESS_TOKEN=$(curl \
-d "client_id=admin-cli" \
-d "username=entando_keycloak_admin" \
-d "password={{ PASSWORD }}" \
-d "grant_type=password" \
"http://{{ HOST }}/auth/realms/master/protocol/openid-connect/token" | jq -r '.access_token')
echo $ACCESS_TOKEN
curl -X GET -H "Authorization: Bearer $ACCESS_TOKEN" http://{{ HOST }}/auth/admin/realms/master/users | jq
curl -X GET -H "Authorization: Bearer $ACCESS_TOKEN" http://{{ HOST }}/auth/admin/realms/entando/users | jq
ADMIN_USER_ID=$(curl -X GET -H "Authorization: Bearer $ACCESS_TOKEN" http://{{ HOST }}/auth/admin/realms/entando/users | jq -r '.[] | select(.username=="admin") | .id')
echo ADMIN_USER_ID
curl -s -X PUT -H "Authorization: Bearer $ACCESS_TOKEN" -H "Content-type: application/json;charset=UTF-8" -H 'Accept: application/json' "{{ HOST }}/auth/admin/realms/entando/users/$ADMIN_USER_ID/reset-password" -d "{\"type\":\"password\",\"value\":\"$ADMIN_USER_NEW_PASSWORD\",\"temporary\":false}"
curl -X PUT "http://{{ HOST }}/entando-de-app/api/userPreferences/admin?profile=%7B%7D&username=admin" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"defaultContentJoinGroups\": [ \"string\" ], \"defaultContentOwnerGroup\": \"string\", \"defaultPageJoinGroups\": [ \"string\" ], \"defaultPageOwnerGroup\": \"string\", \"defaultWidgetJoinGroups\": [ \"string\" ], \"defaultWidgetOwnerGroup\": \"string\", \"loadOnPageSelect\": true, \"translationWarning\": true, \"wizard\": false}"